# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\api.dog-healthcare.com\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
